
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="font-weight-bold text-black text-center">ABOUT US</h2>
            <hr style="height: 3px" width="50" class="bg-info">
                 <div class="jumbotron bg-light">
                    Being a part of Online Truck Ada,   We completly understand the importance of customer need for Shipment
                    and Trevel to be reach and deliver on time in ideal way. SINDHU Transport a 1st Unique plateform in Pakistan which has
                    a larg setup of Trucks and Buses.
                    Online Truck Ada provide Trucks and Containers all Over the Pakistan to carring goods, also provide Luxary Buses
                    for trevling.
                    Our strong vision is to deliver excellence in services that exceeds the needs and expectation of our customers.
                    Strive to become a market leader in the transportation industry of which others aspire to follow is over vision.
                    Online Truck Ada is Providing a reliable and comfortable public transport service which people can look
                    to as a viable and convenient transport alternative to any other transportation source.
                    We are also providing safe journey with Location saving and Tracking system.
                </div>
            
        </div>
    </div>
</div>
<br>
<h3 class="font-weight-bold text-black-50">Delivery Tracking</h3><br>
<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-lg-6 col-12">
            <img src="~/Assets/images/Bus/aboutusmap.png" alt="" class="img-fluid" height="2500" width="100%">
        </div>
        <div class="col-lg-6 col-12">
            <div class="jumbotron bg-light text-black-50">
                We completly understand the importance of customer need for Shipment
                and Trevel to be reach and deliver on time in ideal way.
                Online Truck Ada provide Trucks and Containers all Over the Pakistan to carring goods, also provide Luxary Buses
                for trevling.
                We are also providing safe journey with Live Location saving and Tracking system.
            </div>

        </div>
    </div>
</div>

<h3 class="font-weight-bold text-black-50">Record Managment</h3><br><br>
<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-lg-6 col-12">
            <div class="jumbotron bg-light text-black-50">
                Online Truck Ada provide custom dashboard to every user to entertain them. Every user has separate dashboard where
                user can see his record history with SINDHU. Also user can see about his live ride location and other info. User can
                manage their record, can generate reports and search specific record.
            </div>

        </div>
        <div class="col-lg-6 col-12">
            <img src="~/Assets/images/Bus/record.JPG" alt="" class="img-fluid" height="2500" width="100%">
        </div>

    </div>
</div>